
## Backend
backend/node_modules/
backend/db/
backend/.env


## Front
# Logs
frontend-inex/logs
frontend-inex/*.log
frontend-inex/npm-debug.log*
frontend-inex/yarn-debug.log*
frontend-inex/yarn-error.log*
frontend-inex/pnpm-debug.log*
frontend-inex/lerna-debug.log*

frontend-inex/node_modules
frontend-inex/.DS_Store
frontend-inex/dist
frontend-inex/dist-ssr
frontend-inex/coverage
frontend-inex/*.local

frontend-inex//cypress/videos/
frontend-inex//cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

## qucik-frontend
quick-frontend

## tests-playwright
# Playwright
tests-playwright/node_modules/
tests-playwright//test-results/
tests-playwright//playwright-report/
tests-playwright//blob-report/
tests-playwright//playwright/.cache/
tests-playwright//playwright/.auth/
tests-playwright/.env

###################
ignored/